<%= form_for([@post, @comment]) do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <%= f.submit(@comment.new_record? ? "Publish" : "update", class: 'btn btn-sm btn-success') %>
<% end %>

<%# here %>
<%# Let's also open the posts controller and comments controller and start in the post show.html.erb %>